*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/* HEADER STILE */
#banner{
    height: 70px;
    display: flex;
    background-color: #ff6900;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.sesso{
    color: white;
    font-weight: bold;
}

.boolean{
    height: 30px;
}

.logo{
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
}

/* MAIN STILE */
.container-shop{
    margin: 0 auto;
    width: calc(100% - 20%);
    padding-top: 30px;
   
}  

.catalogo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    
}

.catalogo img{
    width: 100%; /* L'immagine si adatta al contenitore */
    height: auto; /* Mantiene le proporzioni */
    max-height: 630px; /* Imposta un'altezza massima */
}

.prezzo-scontato{
    color: red;
    font-weight: bold;
}

.prezzo{
    display: flex;
    gap: 10px;
}

/* STILE PER LE POSIZIONI DEI CARTELLINI */
.item{
    position: relative;
    width: 30%;
}

.sconto{
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 110px;
}

.sostenibilita{
    position:absolute;
    background-color: green;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 110px;
    left: 60px;
    font-weight: bold;
}

.sostenibilita-sx{
    position:absolute;
    background-color: green;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 110px;
    font-weight: bold;
}


/* STILE FOOTER */
#fine{
    height: 110px;
    display: flex;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30%);
}

.logo-footer{
    display: flex;
    gap: 15px;
    color: white;
    align-items: center;
}

.logo-footer i{
    margin-top: 10px;
    font-size: 25px;

}

.azienda{
    color: white;
}

.social{
    color: white;
}


/* STILE PER LE TRANSICTION DEL MI PIACE E DELLE FOTO */

.heart{
    background-color: white;
    position: absolute;
    padding: 15px;
    top: 10px;
    right: 0px;
}

.heart i{
    font-size: 30px;
}

.heart:hover i{
    color: red;
}


.image1, .image2, .image3, .image4, .image5, .image6{
    width: 100%; 
    height: 630px; 
    background-size: cover; /* Copre tutto lo spazio */
    background-position: center;
    background-repeat: no-repeat;
}

.image1{
    background-image: url(../img/1.webp);
}

.image1:hover {
    background-image: url(../img/1b.webp);
}

.image2{
    background-image: url(../img/2.webp);
}

.image2:hover {
    background-image: url(../img/2b.webp);
}

.image3{
    background-image: url(../img/3.webp);
}

.image3:hover {
    background-image: url(../img/3b.webp);
}

.image4{
    background-image: url(../img/4.webp);
}

.image4:hover {
    background-image: url(../img/4b.webp);
}

.image5{
    background-image: url(../img/5.webp);
}

.image5:hover {
    background-image: url(../img/5b.webp);
}

.image6{
    background-image: url(../img/6.webp);
}

.image6:hover {
    background-image: url(../img/6b.webp);
}






