*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/* HEADER STILE */
#banner{
    height: 70px;
    display: flex;
    background-color: #ff6900;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.sesso{
    color: white;
    font-weight: bold;
}

.boolean{
    height: 30px;
}

.logo{
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
}

/* MAIN STILE */
.container-shop{
    margin: 0 auto;
    width: calc(100% - 20%);
    padding-top: 30px;
   
}  

.catalogo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
     justify-content: center;
    
}

.catalogo img{
    width: 100%; /* L'immagine si adatta al contenitore */
    height: auto; /* Mantiene le proporzioni */
    max-height: 630px; /* Imposta un'altezza massima */
}

.prezzo-scontato{
    color: red;
    font-weight: bold;
}

.prezzo{
    display: flex;
    gap: 10px;
}

/* STILE PER LE POSIZIONI DEI CARTELLINI */
.item{
    position: relative;
}

.sconto{
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 110px;
}

.sostenibilita{
    position:absolute;
    background-color: green;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 110px;
    left: 60px;
    font-weight: bold;
}

.sostenibilita-sx{
    position:absolute;
    background-color: green;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 110px;
    font-weight: bold;
}

.heart{
    background-color: white;
    position: absolute;
    padding: 15px;
    top: 10px;
    right: 0px;
}

.heart i{
    font-size: 30px;
}


/* STILE FOOTER */
#fine{
    height: 110px;
    display: flex;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30%);
}

.logo-footer{
    display: flex;
    gap: 15px;
    color: white;
    align-items: center;
}

.logo-footer i{
    margin-top: 10px;
    font-size: 25px;

}

.azienda{
    color: white;
}

.social{
    color: white;
}









